App_WebReferences/ServiceReference1/SESservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDvStrategies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudyYear" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDvStrategiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDvStrategiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDvProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudyYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrategiesCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDvProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDvProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDvActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudyYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrategiesCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProjectCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDvActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDvActivityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDvActivityDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivityCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDvActivityDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDvActivityDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDvActivityCostsDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivityDetailCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDvActivityCostsDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDvActivityCostsDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDvStrategiesSoapIn">
    <wsdl:part name="parameters" element="tns:getDvStrategies" />
  </wsdl:message>
  <wsdl:message name="getDvStrategiesSoapOut">
    <wsdl:part name="parameters" element="tns:getDvStrategiesResponse" />
  </wsdl:message>
  <wsdl:message name="getDvProjectSoapIn">
    <wsdl:part name="parameters" element="tns:getDvProject" />
  </wsdl:message>
  <wsdl:message name="getDvProjectSoapOut">
    <wsdl:part name="parameters" element="tns:getDvProjectResponse" />
  </wsdl:message>
  <wsdl:message name="getDvActivitySoapIn">
    <wsdl:part name="parameters" element="tns:getDvActivity" />
  </wsdl:message>
  <wsdl:message name="getDvActivitySoapOut">
    <wsdl:part name="parameters" element="tns:getDvActivityResponse" />
  </wsdl:message>
  <wsdl:message name="getDvActivityDetailSoapIn">
    <wsdl:part name="parameters" element="tns:getDvActivityDetail" />
  </wsdl:message>
  <wsdl:message name="getDvActivityDetailSoapOut">
    <wsdl:part name="parameters" element="tns:getDvActivityDetailResponse" />
  </wsdl:message>
  <wsdl:message name="getDvActivityCostsDetailSoapIn">
    <wsdl:part name="parameters" element="tns:getDvActivityCostsDetail" />
  </wsdl:message>
  <wsdl:message name="getDvActivityCostsDetailSoapOut">
    <wsdl:part name="parameters" element="tns:getDvActivityCostsDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="SESserviceSoap">
    <wsdl:operation name="getDvStrategies">
      <wsdl:input message="tns:getDvStrategiesSoapIn" />
      <wsdl:output message="tns:getDvStrategiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDvProject">
      <wsdl:input message="tns:getDvProjectSoapIn" />
      <wsdl:output message="tns:getDvProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDvActivity">
      <wsdl:input message="tns:getDvActivitySoapIn" />
      <wsdl:output message="tns:getDvActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDvActivityDetail">
      <wsdl:input message="tns:getDvActivityDetailSoapIn" />
      <wsdl:output message="tns:getDvActivityDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDvActivityCostsDetail">
      <wsdl:input message="tns:getDvActivityCostsDetailSoapIn" />
      <wsdl:output message="tns:getDvActivityCostsDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SESserviceSoap" type="tns:SESserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDvStrategies">
      <soap:operation soapAction="http://tempuri.org/getDvStrategies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDvProject">
      <soap:operation soapAction="http://tempuri.org/getDvProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDvActivity">
      <soap:operation soapAction="http://tempuri.org/getDvActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDvActivityDetail">
      <soap:operation soapAction="http://tempuri.org/getDvActivityDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDvActivityCostsDetail">
      <soap:operation soapAction="http://tempuri.org/getDvActivityCostsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SESserviceSoap12" type="tns:SESserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDvStrategies">
      <soap12:operation soapAction="http://tempuri.org/getDvStrategies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDvProject">
      <soap12:operation soapAction="http://tempuri.org/getDvProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDvActivity">
      <soap12:operation soapAction="http://tempuri.org/getDvActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDvActivityDetail">
      <soap12:operation soapAction="http://tempuri.org/getDvActivityDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDvActivityCostsDetail">
      <soap12:operation soapAction="http://tempuri.org/getDvActivityCostsDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SESservice">
    <wsdl:port name="SESserviceSoap" binding="tns:SESserviceSoap">
      <soap:address location="http://61.19.252.56/SarTest/Services/SESservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SESserviceSoap12" binding="tns:SESserviceSoap12">
      <soap12:address location="http://61.19.252.56/SarTest/Services/SESservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>